{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "configuration": "./src/configuration",
          "components": "./src/components",
          "contexts": "./src/contexts",
          "forms": "./src/forms",
          "mock-data": "./src/mock-data",
          "services": "./src/services",
          "stores": "./src/stores",
          "types": "./src/types"
        }
      }
    ]
  ]
}