.trending-now,
.new-arrivals {
    @apply
    mb-10
    md:mb-20
    lg:mb-32
    xl:mb-40;
    &__title {
        @apply
        after:block
        after:mt-4
        after:mb-10
        after:h-[6px]
        after:text-center
        after:w-[50px]
        after:bg-peach
        flex
        flex-col
        items-center
        py-2
        text-2xl
        md:py-4
        md:after:mt-8
        md:after:mb-16
        md:text-4xl
        lg:text-5xl
        lg:after:mt-10
    }
}