.trending-now,
.new-arrivals {
    @apply
    mb-10
    md:mb-16;
    &__title {
        @apply
        after:block
        after:my-4
        after:h-[6px]
        after:text-center
        after:w-[50px]
        after:bg-rose-400
        flex
        flex-col
        items-center
        lg:text-6xl
        lg:after:my-8
        md:py-4
        md:after:my-6
        md:text-4xl
        py-2
        text-2xl
    }
}