.product {
    @apply
    mb-5;
}
.product--with-size {
    .product {
        &__details {
            @apply
            pt-4
            px-5;
        }
        &__image {
            @apply
            relative;
        }
        &__sub-title {
            @apply
            leading-none
            opacity-80
            text-xs
        }
        &__title {
            @apply
            leading-normal
            text-lg
        }
        &__overlay {
            @apply
            absolute
            bg-primary
            bg-opacity-40
            cursor-pointer
            duration-500
            flex
            items-center
            justify-center
            h-full
            hover:opacity-100
            left-0
            opacity-0
            top-0
            transition-opacity
            w-full        
        }
        &__sizes {
            @apply
            font-bold;
            &__title {
                @apply
                mx-4
                text-white
                text-opacity-70
            }
            &__size {
                @apply
                border
                inline-block
                duration-500
                m-2
                min-w-[70px]
                px-4
                py-3
                text-white
                text-center
                transition-all
                hover:text-primary
                hover:bg-white
            }
        }
        @screen sm {
            &__sub-title {
                @apply
                text-base
            }
            &__title {
                @apply
                text-2xl
            }
        }
        @screen md {
            &__sub-title {
                @apply
                text-sm;
            }
            &__title {
                @apply
                text-xl
            }
        }
        @screen lg {
            &__sub-title {
                @apply
                text-base
            }
            &__title {
                @apply
                text-2xl
            }
            &__sizes {
                &__size {
                    @apply
                    min-w-[96px];
                }
            }
        }
    }
    &.product {
        @screen md {
            &--medium-1 {
                .product {
                    &__sub-title {
                        @apply
                        text-xl;
                    }
                    &__title {
                        @apply
                        text-3xl
                    }
                    &__sizes {
                        &__title {
                            @apply
                            text-xl;
                        }
                        &__size {
                            @apply
                            min-w-[150px]
                            text-xl;
                        }
                    }
                }
            }
            &--medium-2{
                .product {
                    &__sub-title {
                        @apply
                        text-base;
                    }
                    &__title {
                        @apply
                        text-2xl
                    }
                    &__sizes {
                        &__title {
                            @apply
                            text-lg;
                        }
                        &__size {
                            @apply
                            min-w-[110px]
                            text-lg;
                        }
                    }
                }
            }
        }
        @screen lg {
            &--large-3 {
                .product {
                    &__sub-title {
                        @apply
                        text-lg;
                    }
                    &__title {
                        @apply
                        text-2xl
                    }
                    &__sizes {
                        &__title {
                            @apply
                            text-base;
                        }
                        &__size {
                            @apply
                            min-w-[75px]
                            text-base;
                        }
                    }
                }
            }
            &--large-2 {
                .product {
                    &__sub-title {
                        @apply
                        text-xl;
                    }
                    &__title {
                        @apply
                        text-3xl
                    }
                    &__sizes {
                        &__title {
                            @apply
                            mb-3
                            text-xl;
                        }
                        &__size {
                            @apply
                            min-w-[120px]
                            text-xl;
                        }
                    }
                }
            }
            &--large-1 {
                .product {
                    &__sub-title {
                        @apply
                        text-2xl;
                    }
                    &__title {
                        @apply
                        text-4xl
                    }
                    &__sizes {
                        &__title {
                            @apply
                            mb-6
                            text-2xl;
                        }
                        &__size {
                            @apply
                            min-w-[200px]
                            text-2xl;
                        }
                    }
                }
            }
        }
        @screen xl {            
            &--extra-large-3 {
                .product {
                    &__sub-title {
                        @apply
                        text-xl;
                    }
                    &__title {
                        @apply
                        text-3xl
                    }
                    &__sizes {
                        &__title {
                            @apply
                            mb-4
                            text-xl;
                        }
                        &__size {
                            @apply
                            min-w-[120px]
                            text-xl;
                        }
                    }
                }
            }
            &--extra-large-2 {
                .product {
                    &__sub-title {
                        @apply
                        text-2xl;
                    }
                    &__title {
                        @apply
                        text-4xl
                    }
                    &__sizes {
                        &__title {
                            @apply
                            mb-4
                            text-2xl;
                        }
                        &__size {
                            @apply
                            min-w-[150px]
                            text-2xl;
                        }
                    }
                }
            }
            &--extra-large-1 {
                .product {
                    &__sub-title {
                        @apply
                        text-3xl;
                    }
                    &__title {
                        @apply
                        text-5xl
                    }
                    &__sizes {
                        &__title {
                            @apply
                            mb-6
                            text-3xl;
                        }
                        &__size {
                            @apply
                            min-w-[200px]
                            text-3xl;
                        }
                    }
                }
            }
        }
    }
    /* @screen sm {
        &.product--medium {
            @apply max-w-xs;
            .product {
                &__sub-title {
                    @apply
                    text-2xl
                }
                &__title {
                    @apply
                    text-3xl
                }
                &__sizes {
                    &__title {
                        @apply
                        text-lg
                    }
                    &__size {
                        @apply
                        min-w-[100px]
                        text-lg
                    }
                }
            }
        }
    }
    @screen md {
        &.product--large {
            .product {
                &__sub-title {
                    @apply
                    text-3xl
                }
                &__title {
                    @apply
                    text-4xl
                }
                &__sizes {
                    &__title {
                        @apply
                        text-2xl
                    }
                    &__size {
                        @apply
                        min-w-[120px]
                        text-2xl
                    }
                }
            }
        }
    }
    @screen lg {
        &.product--extra-large {
            .product {
                &__sub-title {
                    @apply
                    text-4xl
                }
                &__title {
                    @apply
                    text-5xl
                }
                &__sizes {
                    &__title {
                        @apply
                        text-3xl
                    }
                    &__size {
                        @apply
                        min-w-[120px]
                        text-3xl
                    }
                }
            }
        }
    } */
}

/* .product--with-cta {
    @apply
    relative;
    .product {
        &__details {
            @apply
            absolute
            flex
            flex-col
            items-start
            justify-center
            h-full
            right-[10%]
            top-0
            w-[40%]
        }
        &__title {
            @apply
            leading-normal
            mb-2
            text-lg
        }
        &__sub-title {
            @apply
            leading-normal
            text-secondary
            text-base
        }
        &__cta {
            @apply
            flex
            font-family-bold
            items-end
            justify-end
            text-base
            underline
            mt-4
            w-full;
        }
    }
    @screen sm {
        &.product--medium {
            .product {
                &__title {
                    @apply mb-3 text-xl
                }
                &__sub-title {
                    @apply text-lg
                }
                &__cta {
                    @apply mt-4 text-lg
                }
            }
        }
    }
    @screen md {
        &.product--large {
            .product {
                &__title {
                    @apply mb-4 text-2xl
                }
                &__sub-title {
                    @apply text-xl
                }
                &__cta {
                    @apply mt-6 text-xl
                }
            }
        }
    }
    @screen lg {
        &.product--extra-large {
            .product {
                &__title {
                    @apply mb-6 text-3xl
                }
                &__sub-title {
                    @apply text-2xl
                }
                &__cta {
                    @apply mt-8 text-2xl
                }
            }
        }
    }
} */