.product {
    &__details {
        @apply
        mx-5
        my-6
    }
    &__image {
        @apply
        relative;
    }
    &__sub-title {
        @apply
        leading-none
        opacity-80
        text-lg
    }
    &__title {
        @apply
        leading-normal
    }
    &__overlay {
        @apply
        absolute
        bg-primary
        bg-opacity-40
        cursor-pointer
        duration-500
        flex
        items-center
        justify-center
        h-full
        hover:opacity-100
        left-0
        opacity-0
        top-0
        transition-opacity
        w-full        
    }
    &__sizes {
        @apply
        font-bold;
        &__title {
            @apply
            mx-4
            text-white
            text-opacity-70
        }
        &__size {
            @apply
            border
            inline-block
            duration-500
            m-2
            min-w-[100px]
            px-4
            py-3
            text-white
            text-center
            transition-all
            hover:text-primary
            hover:bg-white
        }
    }
    &.size-medium {
        @apply
        max-w-xl;
        .product {               
            &__sub-title {
                @apply
                leading-6
                text-base
            }
            &__title {
                @apply
                leading-8
                text-2xl
            }
        }
    }
    &.size-small {
        @apply
        max-w-xs;
        .product {               
            &__sub-title {
                @apply
                text-base
            }
            &__title {
                @apply
                text-2xl
            }
        }
    }
}

.product-tiles {
    @apply
    grid
    gap-10
    grid-cols-2
    min-w-max
    my-16
    px-[5%];
}
.product-tile {
    @apply
    box-content
    relative;
    &__details {
        @apply
        absolute
        flex
        flex-col
        items-start
        justify-center
        h-full
        py-[17%]
        right-[10%]
        top-0
        w-[40%]
    }
    &__title {
        @apply
        mb-3
        leading-normal
        text-7xl
    }
    &__sub-title {
        @apply
        leading-normal
        text-secondary
        text-4xl;
    }
    &__cta {
        @apply
        flex-1
        flex
        font-family-bold
        items-end
        justify-end
        text-2xl
        mb-6
        underline
        w-full;
    }
    &.size-medium {
        @apply
        max-w-xl;
        .product-tile {
            &__details {
                @apply
                pt-[13%]
                pb-[5%];
            }
            &__title {
                @apply
                text-[32px];
            }
            &__sub-title {
                @apply
                text-xl;
            }
            &__cta {
                @apply

                text-base
            }
        }
    }
    &.size-small {
        @apply
        max-w-sm;
        .product-tile {
            &__title {
                @apply
                text-xl;
            }
            &__sub-title {
                @apply
                text-base;
            }
            &__cta {
                @apply
                mb-0
                mt-8            
                text-sm
            }
        }
    }
}